

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>dialog demo 3</title>
<link type="text/css" rel="stylesheet"  href="../highlight/shCore.css"/>
<link type="text/css" rel="stylesheet" href="../style/avalon.doc.css"/>
<script src="../highlight/shCore.js"></script>
<script src="../../avalon.js"></script>
</head>
<body>
    <div class="wrapper">
        <h1>dialog demo 3</h1>
        <p class="example">取消“close”按钮的dialog</p>
        <p><span class="useDescription">说明：</span>
            此demo基本使用组件默认配置，只是通过showClose的配置使得组件不显示“关闭”按钮</p>
           <div class="demo-show" ms-controller="demo">
            <fieldset>  
                <legend>取消“close”按钮的dialog</legend>
                    <button ms-click="show('aa')">打开对话框</button>
                    <oni:dialog $id="aa" $slot="content" show-close="false" >
                        不显示关闭按钮
                    </oni:dialog>
            </fieldset>
            <script> 
               require(["./component/dialog/avalon.dialog"], function () {
                    avalon.define({
                        $id:"demo",
                        show: function( id ){
                            avalon.vmodels[id].toggle = true;
                        },
                        title: "取消“close”按钮的dialog"
                    })
                    avalon.scan();
                })
            </script>
        </div>
        <div ms-skip>
            <pre class="brush: javascript; gutter: false; toolbar: false">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;meta http-equiv="content-type" content="text/html;charset=utf-8" /&gt;
        &lt;meta http-equiv="x-ua-compatible" content="ie=edge" /&gt;
        &lt;title&gt;dialog demo 3&lt;/title&gt;
        &lt;link type="text/css" rel="stylesheet"  href="../highlight/shCore.css"/&gt;
        &lt;link type="text/css" rel="stylesheet" href="../style/avalon.doc.css"/&gt;
        &lt;script src="../highlight/shCore.js"&gt;&lt;/script&gt;
        &lt;script src="../../avalon.js"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div class="wrapper"&gt;

            &lt;div class="demo-show" ms-controller="demo"&gt;
                &lt;fieldset&gt;  
                    &lt;legend&gt;取消“close”按钮的dialog&lt;/legend&gt;
                    &lt;button ms-click="show('aa')"&gt;打开对话框&lt;/button&gt;
                    &lt;oni:dialog $id="aa" $slot="content" show-close="false" &gt;
                        不显示关闭按钮
                    &lt;/oni:dialog&gt;
                &lt;/fieldset&gt;
                &lt;script&gt;
                    require(["./component/dialog/avalon.dialog"], function () {
                        avalon.define({
                            $id: "demo",
                            show: function (id) {
                                avalon.vmodels[id].toggle = true;
                            },
                            title: "取消“close”按钮的dialog"
                        })
                        avalon.scan();
                    })
                &lt;/script&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;
            </pre>
        </div>
     
    </div>
</body>
</html>

