<!DOCTYPE html>
<html>
<head>
    <title>dialog demo 1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="../style/avalon.doc.css"/>
    <script src="../../avalon.js"></script>
    <script src="../style/highlight/shCore.js"></script>

    <script>
        avalon.library("oni", {
            $ready: function () {
                avalon.log("控件已经构建完毕")
            }
        })
        require(["./component/dialog/avalon.dialog"], function () {
            var vm = avalon.define({
                $id: "demo",
   
                $dialog: {
                    
                }
            })
            avalon.scan()
        })
    </script>
</head>
<body ms-controller="demo">
    <fieldset>
        <legend>checkboxlist默认配置，利用onSelect回调获取组件状态</legend>
        <oni:dialog configs="$dialog">
            <div slot="content">这是内容</div>
        </oni:dialog>

     
    </fieldset>

    <div ms-skip>
        <pre class="brush: html; gutter: false; toolbar: false">
        </pre>
    </div>
</body>
</html>
