<div class="oni-textbox"
     ms-class-1="oni-textbox-hover: _hovering"
     ms-class-2="oni-textbox-focus: _focusing">
    <span class="oni-textbox-placeholder"
          ms-visible="_placeholderVisible"
          ms-click = "_clickPlaceholder($event)">
        {{placeholder}}
    </span>
    <input class="oni-textbox-input"
           ms-class="oni-state-disabled:disabled"
           ms-attr-disabled="disabled"
           ms-if="type === 'input'"
           ms-duplex="value"
           ms-focus="_focus()"
            ms-blur="_blur()"/>
    <textarea class="oni-textbox-input"
           ms-if="type === 'textarea'"
           ms-duplex="value"
           ms-focus="_focus()"
           ms-blur="_blur()">
    </textarea>
</div>
