<!DOCTYPE html>
<html>
    <head>
        <title>button demo 4</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet"  href="../highlight/shCore.css"/>
        <link type="text/css" rel="stylesheet" href="../style/avalon.doc.css"/>
            <script src="../../avalon.js">

        </script>
        <script src="./shCore.js">

        </script>
        <script>
            avalon.library("oni", {
                $ready: function (a, b) {
                    avalon.log(a.$id+"控件已经构建完毕")
                }
            })
            require(["./component/button/avalon.button"], function () {
                avalon.define({
                    $id: "demo"
                })
                avalon.scan()
            })
            </script>
        <style>
            body {
                padding-bottom: 200px;
            }
            fieldset > div {
                margin-bottom: 20px;
            }
            .inline {
                display: inline-block;
                *display: inline;
                zoom: 1;
                margin-right: 30px;
                vertical-align: bottom;
            }
        </style>
    </head>
    <body ms-controller="demo">
        <fieldset>
            <legend>buttonset+button</legend>
            <div>
                <oni:buttonset class="inline">
                    <oni:button>button 1</oni:button>
                    <oni:button>button 2</oni:button>
                    <oni:button>button 3</oni:button>
                </oni:buttonset>
                <oni:buttonset class="inline">
                    <oni:button data-button-type="icon" data-button-icon-position="left" data-button-icon="\&\#xf04c;"></oni:button>
                    <oni:button data-button-type="icon" data-button-icon-position="left" data-button-icon="\&\#xf04b;"></oni:button>
                    <oni:button data-button-type="icon" data-button-icon-position="left" data-button-icon="\&\#xf074;"></oni:button>
                </oni:buttonset>
                <oni:buttonset class="inline">
                    <oni:button data-button-type="labeledIcon" data-button-icon-position="left" data-button-icon="\&\#xf04c;">暂停</oni:button>
                    <oni:button data-button-type="labeledIcon" data-button-icon-position="left" data-button-icon="\&\#xf04b;">播放</oni:button>
                    <oni:button data-button-type="labeledIcon" data-button-icon-position="left" data-button-icon="\&\#xf074;">拖曳</oni:button>
                </oni:buttonset>
                <oni:buttonset class="inline">
                    <oni:button data-button-type="labeledIcon" data-button-icon-position="right" data-button-icon="\&\#xf04c;">暂停</oni:button>
                    <oni:button data-button-type="labeledIcon" data-button-icon-position="right" data-button-icon="\&\#xf04b;">播放</oni:button>
                    <oni:button data-button-type="labeledIcon" data-button-icon-position="right" data-button-icon="\&\#xf074;">拖曳</oni:button>
                </oni:buttonset>
            </div>
            <div>
                <oni:buttonset class="inline">
                    <oni:button data-button-color="info" data-button-size="small">button 1</oni:button>
                    <oni:button data-button-color="info" data-button-size="small">button 2</oni:button>
                    <oni:button data-button-color="info" data-button-size="small">button 3</oni:button>
                </oni:buttonset>
                <oni:buttonset class="inline">
                    <oni:button data-button-color="danger" data-button-type="icon" data-button-icon-position="left" data-button-icon="\&\#xf04c;"></oni:button>
                    <oni:button data-button-color="danger"  data-button-type="icon" data-button-icon-position="left" data-button-icon="\&\#xf04b;"></oni:button>
                    <oni:button data-button-color="danger"  data-button-type="icon" data-button-icon-position="left" data-button-icon="\&\#xf074;"></oni:button>
                </oni:buttonset>
                <oni:buttonset class="inline">
                    <oni:button data-button-color="success" data-button-size="big" data-button-type="labeledIcon" data-button-icon-position="left" data-button-icon="\&\#xf04c;">暂停</oni:button>
                    <oni:button data-button-color="success" data-button-size="big" data-button-type="labeledIcon" data-button-icon-position="left" data-button-icon="\&\#xf04b;">播放</oni:button>
                    <oni:button data-button-color="success" data-button-size="big" data-button-type="labeledIcon" data-button-icon-position="left" data-button-icon="\&\#xf074;">拖曳</oni:button>
                </oni:buttonset>
                <oni:buttonset class="inline">
                    <oni:button data-button-color="warning" data-button-size="large" data-button-type="labeledIcon" data-button-icon-position="left" data-button-icon="\&\#xf04c;">暂停</oni:button>
                    <oni:button data-button-color="warning" data-button-size="large" data-button-type="labeledIcon" data-button-icon-position="left" data-button-icon="\&\#xf04b;">播放</oni:button>
                    <oni:button data-button-color="warning" data-button-size="large" data-button-type="labeledIcon" data-button-icon-position="left" data-button-icon="\&\#xf074;">拖曳</oni:button>
                </oni:buttonset>
            </div>
            <div>
                <oni:buttonset data-button-direction="vertical" class="inline">
                    <oni:button data-button-color="danger">button 1</oni:button>
                    <oni:button data-button-color="danger">button 2</oni:button>
                    <oni:button data-button-color="danger">button 3</oni:button>
                </oni:buttonset>
                <oni:buttonset class="inline" data-buttonset-direction="vertical" data-buttonset-width="50">
                    <oni:button data-button-color="info" data-button-type="icon" data-button-icon-position="left" data-button-icon="\&\#xf04c;"></oni:button>
                    <oni:button data-button-color="info"  data-button-type="icon" data-button-icon-position="left" data-button-icon="\&\#xf04b;"></oni:button>
                    <oni:button data-button-color="info"  data-button-type="icon" data-button-icon-position="left" data-button-icon="\&\#xf074;"></oni:button>
                </oni:buttonset>
                <oni:buttonset data-buttonset-direction="vertical" class="inline">
                    <oni:button data-button-color="warning" data-button-type="labeledIcon" data-button-icon-position="left" data-button-icon="\&\#xf04c;">暂停</oni:button>
                    <oni:button data-button-color="warning" data-button-type="labeledIcon" data-button-icon-position="left" data-button-icon="\&\#xf04b;">播放</oni:button>
                    <oni:button data-button-color="warning" data-button-type="labeledIcon" data-button-icon-position="left" data-button-icon="\&\#xf074;">拖曳</oni:button>
                </oni:buttonset>
                <oni:buttonset data-buttonset-direction="vertical" data-buttonset-corner="false" class="inline">
                    <oni:button data-button-color="success" data-button-size="large" data-button-type="labeledIcon" data-button-icon-position="right" data-button-icon="\&\#xf04c;" id="test">暂停</oni:button>
                    <oni:button data-button-color="success" data-button-size="large" data-button-type="labeledIcon" data-button-icon-position="right" data-button-icon="\&\#xf04b;">播放</oni:button>
                    <oni:button data-button-color="success" data-button-size="large" data-button-type="labeledIcon" data-button-icon-position="right" data-button-icon="\&\#xf074;">拖曳</oni:button>
                </oni:buttonset>
            </div>
        </fieldset>

        <div ms-skip>
            <pre class="brush: html: true; gutter: false; toolbar: false">

            </pre>
        </div>
    </body>
</html>
