<!DOCTYPE html>
<html>

<head>
    <title>doublelist demo 1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="../style/avalon.doc.css"
            />
    <script src="../../avalon.js"></script>
    <script src="../style/highlight/shCore.js"></script>
    <script>
        avalon.library("oni", {
            $ready: function () {
                avalon.log("控件已经构建完毕")
            }
        })
        require(["./component/spinner/avalon.spinner"], function () {
            var demoVM = avalon.define({
                $id: "demo",
                $opts: {
                    onChange: function(v){
                        console.log(v)
                    }
                }
            })

            avalon.scan()
        })
    </script>
</head>

<body ms-controller="demo">
<fieldset>
    <legend>spinner 默认配置</legend>
    <oni:spinner config="$opts" min="5" max="20"></oni:spinner>
</fieldset>
<div ms-skip>
<pre class="brush:html; gutter: false; toolbar: false">

</pre>
</div>
</body>

</html>