<!DOCTYPE html>
<html>
<head>
    <title>checkboxlist demo 2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="../style/avalon.doc.css"/>
    <script src="../../avalon.js"></script>
    <script src="../style/highlight/shCore.js"></script>
    <script>
        avalon.library("oni", {
            $ready: function () {
                avalon.log("控件已经构建完毕")
            }
        })
        require(["./component/checkboxlist/avalon.checkboxlist"], function(avalon) {
            var demoVM = avalon.define({
                $id: "demo",
                checkedInputs: [],
                opts: {
                    val: ['w1', 'w2'],
                    data: [
                        { text : '文字1' , value : 'w1' } ,
                        { text : '文字2' , value : 'w2' } ,
                        { text : '文字3' , value : 'w3' } ,
                        { text : '文字4' , value : 'w4' }
                    ],
                    onSelect: function(e, inputsData){
                        demoVM.checkedInputs = inputsData
                    }
                }
            })
            avalon.scan()
        });
    </script>
</head>
<body>
    <div class="wrapper">
        <div class="demo-show" ms-controller="demo">
            <fieldset>
                <legend>配置data-checkboxlist-alltext=""，来取消“全部”选项。</legend>

                <p>说明：默认组件会显示“全部”选框，不想让其出现的话，可以配置data-cboxpicket-alltext=""</p>

                <oni:checkboxlist configs="opts" data-checkboxlist-alltext=""></oni:checkboxlist>

                <p>选中的values: {{checkedInputs}}</p>
            </fieldset>
        </div>

        <div ms-skip>
            <pre class="brush: js; html-script: true; gutter: false; toolbar: false">

            </pre>
        </div>
    </div>
</body>
</html>