<!DOCTYPE html>
<html>
<head>
    <title>checkboxlist demo 3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="../style/avalon.doc.css"/>
    <script src="../../avalon.js"></script>
    <script src="../style/highlight/shCore.js"></script>
    <script>
        avalon.library("oni", {
            $ready: function () {
                avalon.log("控件已经构建完毕")
            }
        })
        require(["./component/checkboxlist/avalon.checkboxlist"], function(avalon) {
            var demoVM = avalon.define({
                $id: "demo",
                checkedInputs: [],
                opts: {
                    type: "week",
                    val: ["TUESDAY", "SUNDAY"],
                    onSelect: function(e, inputsData){
                        demoVM.checkedInputs = inputsData
                    }
                }
            })
            avalon.scan()
        });
    </script>
</head>
<body>
<div class="wrapper">
    <div class="demo-show" ms-controller="demo">
        <fieldset>
            <legend>设置type为week展示周一到周日的选项</legend>

            <oni:checkboxlist configs="opts" data-checkboxlist-alltext=""></oni:checkboxlist>
            <p>选中的values: {{checkedInputs}}</p>
        </fieldset>
    </div>

    <div ms-skip>
            <pre class="brush: js; html-script: true; gutter: false; toolbar: false">

            </pre>
    </div>
</div>
</body>
</html>