<!DOCTYPE html>
<html>
<head>
    <title>checkboxlist demo 1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="../style/avalon.doc.css"/>
    <script src="../../avalon.js"></script>
    <script src="../style/highlight/shCore.js"></script>

    <script>
        avalon.config({
            debug: false
        })
        avalon.library("oni", {
            $ready: function () {
                avalon.log("控件已经构建完毕")
            }
        })
        require(["./component/checkboxlist/avalon.checkboxlist"], function () {
            avalon.define({
                $id: "demo",
                val: ['w1', 'w2'],
                opts: {
                    data: [
                        { text : '文字1' , value : 'w1' } ,
                        { text : '文字2' , value : 'w2' } ,
                        { text : '文字3' , value : 'w3' } ,
                        { text : '文字4' , value : 'w4' }
                    ]
                }
            })
            avalon.scan()
        })
    </script>
</head>
<body ms-controller="demo">
    <fieldset>
        <legend>checkboxlist</legend>
        <oni:checkboxlist
            configs="opts"
            data-checkboxlist-duplex="val">
        </oni:checkboxlist>
        {{val}}
    </fieldset>

    <div ms-skip>
        <pre class="brush: html; gutter: false; toolbar: false">
        </pre>
    </div>
</body>
</html>
